# systemd unit file for terrariaserverapi
# Tyler W.  <tyler@tw.id.au>

[Unit]
Description=TSAPI Terraria Server
After=network.target
Requires=network.target


[Service]
ExecStart=/usr/share/terraria/tsinstance start %i
WorkingDirectory=/usr/share/terraria
User=tsapi
Group=tsapi

[Install]
WantedBy=multi-user.target

